$footer-background-color: #323334;
$footer-text-color: #ffffff;
$footer-link-color: #ffffff;
$footer-link-hover-color: underline;
$footer-padding: 10px;
$footer-font: "Roboto", sans-serif;
$footer-font-weight: 300;
$footer-font-size: 14px;
$footer-line-height: 16.41px;

.footer-content {
  display: flex;
  background-color: $footer-background-color;

  .footer-column {
    box-sizing: border-box;
    padding: $footer-padding;
    text-align: center; /* Centrera texten */

    p {
      margin: 0;
    }
  }

  .footer-column-1 {
    background-color: $footer-background-color;
    max-width: 34%;
    padding: 100px;
    text-align: left;

    h2,
    p {
      font-family: $footer-font;
    }

    h2 {
      color: $footer-text-color;
      font-size: 28px;
      font-weight: 700;
      line-height: 33px;
      letter-spacing: 0em;
      margin: 0;
    }

    p {
      padding-top: 40px;
      padding-bottom: 40px;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      color: rgba($footer-text-color, 0.5);
    }

    .footer-links {
      margin-top: 5px;

      a {
        font-size: $footer-font-size;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: $footer-link-color;
        text-decoration: none;
        display: block;

        &:hover {
          text-decoration: $footer-link-hover-color;
        }
      }
    }

    .footer-icons {
      display: flex;
      justify-content: center;

      img {
        padding: 60px 55px 0 0;
        margin: 0;
      }
    }
  }

  .footer-column-2,
  .footer-column-3 {
    padding-top: 87px;
    width: 16%;
    background-color: $footer-background-color;
    color: $footer-text-color;

    h2 {
      text-transform: uppercase;
      font-family: $footer-font;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0em;
      line-height: 19px;
      text-align: left;
    }

    .menu {
      font-family: $footer-font;
      list-style: none;
      padding: 0;
      margin: 0;
      font-weight: $footer-font-weight;
      font-size: $footer-font-size;
      line-height: $footer-line-height;
      text-align: left;

      li {
        padding: 10px 0;
      }

      a {
        color: $footer-link-color;
        text-decoration: none;
      }
    }
  }

  .footer-column-4 {
    background-color: $footer-background-color;
    color: $footer-text-color;
    width: 20%;
    padding-top: 87px;

    h2 {
      text-transform: uppercase;
      font-family: $footer-font;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0em;
      line-height: 19px;
      text-align: left;
    }

    .custom-post-list {
      list-style: none;
      margin: 0;
      text-align: left;
      padding: 0;

      li {
        font-family: $footer-font;
        font-size: $footer-font-size;
        line-height: $footer-line-height;
        padding-top: 3px;

        p{
          padding: 0 0 10 0;
        }

        a {
          color: $footer-link-color;
          text-decoration: none;
          color: #ffffff80; /* Färgen för rubrikerna */
          font-family: "Roboto", sans-serif; /* Använd Roboto-fonten */
          font-weight: 400; /* Vikt 400 */
          font-size: 24px; /* Storlek 24px */
          text-align: left;
          text-transform: uppercase;

          &:hover {
            text-decoration: $footer-link-hover-color;
          }
        }
      }

      li:not(:last-child) {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
      }
    }
  }
}

.footer-rights {
  text-align: center;
  padding: $footer-padding;
  background-color: black;
  color: white;
  font-weight: $footer-font-weight;
  font-size: $footer-font-size;
  line-height: $footer-line-height;
}
