.woocommerce-breadcrumb{
    display: flex;
    justify-content: center;

    a{
            text-decoration: none;
            color: $product-color;
            font-size: $product-size-medium;

           
    }

}


.summary.entry-summary{
display: flex;
justify-content: space-between;
align-items: flex-start;
float: right;
width: 32%;
flex-direction: column;

    .product_title.entry-title{
        margin-top: 60px;
        font-size: $product-font-size-large;
        font-weight: $product-weight-medium;

    }

        .price{
            font-size: 24px;
            font-weight: $product-weight-medium;
        }
   .miniature-image{
    display: block;
    margin-top: 10px;
    width: 53px;
    height: 72px;
    border: 1px solid $product-color;
    margin-bottom: 30px;
   }
}

.not-available{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #00000080;
    font-size: $product-font-size-medium;


    img{
        margin-right: 5px;
    }
}

label{
    display: none;
}
 .reset_variations{
        display: none;
    }

#size{
    padding: 15px 150px;
    font-size: $product-font-size-medium;
    border: 1px solid $product-color;
    border-radius: 4px;
    background-color: #fff;
    margin-left: -3px;
    text-align: left;


}
.attribute_size{
    margin-right: -30px;
}



.button.alt {
  margin-top: 20px;
  background-color: $product-color; 
  color: #fff; 
  border: none; 
  padding: 18px 108px; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer;
}



.button.alt:hover {
  background-color: #eb6810;
}


.woocommerce-product-gallery__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.woocommerce-product-gallery__image{
    flex: 1 1 33.33%;
    margin-bottom: 0;
    padding-left: 80px;
    margin-top: 60px;
}

.woocommerce-product-gallery__image:nth-child(1) img {
    width: 25rem;
    height: 30rem; 
}
.woocommerce-product-gallery__image:nth-child(2) img {
    width: 25rem; 
    margin-left: -140px;
    height: 30em; 
}
.woocommerce-product-gallery__image:nth-child(3) img {
    width: 52rem;
    height: 35rem; 
}


.product_meta{
    display: none;
}

 .attachment-full.size-full{
        padding-left: 80px;
        padding-top: 60px;
    }
 .attachment-full.size-full:nth-child(3){
        padding-left: 30px;
    }
 .attachment-full.size-full:nth-child(4){
    padding-left: 79px;
    width: 52%;
}    

.tabs.wc-tabs{
    display: none;
}
#tab-description h2{
    display: none;
}
.woocommerce-tabs.wc-tabs-wrapper{
    padding-left: 80px;
    background-color:#F0EFED;
    margin-left: 78px;
    margin-right: 45%;
    margin-bottom: 80px;
    
}

#tab-description{
    width: 80%;
    font-size: $product-font-size-medium;
    font-weight: $product-weight-small;
    height: 30%;
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 60px;

}

.related.products{
    overflow: hidden;
    padding: 0;
    padding-bottom: 100px;
    

    h2{
        padding-left: 70px;
        
    }

    a{
            text-decoration: none;
    }

    ul.products{
       display: flex;
       align-items: center;
       text-decoration: none;
       list-style: none;
       padding-left: 70px;
       
       

       img{
        margin-right: 40px;
        

        
        
       }
    }

    .woocommerce-loop-product__title{
    padding: 0;
    color: $product-color;
    font-size: $product-size-medium; 
    font-weight: $header-weight;

   
   
   }
   ul.products.columns-4 li.product a.button {
  display: none;
}

span.price {
  position: relative;
}

span.price::before,
span.price::after{

  content: "";
  display: inline-block;
  position: absolute;
  top: -20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

span.price::before {
  background-color: #DDEDD6;
}

span.price::after {
  left: 15px; 
  background-color: #eb6810; 
}





 span.price .woocommerce-Price-amount {
    color: $product-color;
    font-size: 24px;
    font-weight: $header-weight;
}

}






#reviews{
    display: none;
}


#searchform{
    display: none;
}

#sidebar{
    display: none;
}
#quantity_65df51d3cca28{
    display: none;
}