///HEADER

$header-main: rgba(50, 51, 52, 1);
$header-text-size: 16px; 
$header-weight: 700;





/// SHOPPING BAG
/// SINGLE PRODUCT
$product-color: #323334;
$product-size-medium: 18px;
/// HOMEPAGE
/// PRODUCT LISTING
/// 

$content-width:1600px;
