///HEADER

$header-main: rgba(50, 51, 52, 1);
$header-text-size: 16px; 
$header-weight: 700;





/// SHOPPING BAG
/// SINGLE PRODUCT
$product-color: #323334;
$product-size-small: 14px;
$product-size-medium: 18px;
$product-weight-small: 300;
$product-weight-medium: 500;
$product-font-size-medium: 16px;
$product-font-size-large:28px;
/// HOMEPAGE
$home-h1: 22px;
$home-h1-medium:28px;
$home-h2-color:#A86A3D;
$home-h2-size:48px;
$home-background: #FAFAFA;
$home-banner:#7B5136;
/// PRODUCT LISTING
/// 

$content-width:1600px;
